<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
    <title>{{ title }} - Регистрация</title>
    {% else %}
    <title>{{ title }}</title>
    {% endif %}
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/bootstrap.min.css">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class = 'nav-item active'>
                    <a href="/" class="nav-link">
                        Главная
                    </a>
                </li>
                <li class = 'nav-item active'>
                    <a href="/translator" class="nav-link">
                        Переводчик
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block contents %}{% endblock %}
</body>
</html>