{% extends "base.html" %}

{% block contents %}
    <br>
    <h3>{{ attention }}</h3>
    <br>

    <form action="" method="post">
        <p style = 'padding: 20px;'>
	    <label style = 'padding-right: 20px;' for="username">Логин</label>
	    <input style = 'outline:none;' class = 'bg-dark text-white' type="text" name="username">
	</p>
	<p style="padding: 20px;">
	    <label style="padding-right: 10px;" for="password">Пароль</label>
	    <input style = 'outline:none;' class = 'bg-dark text-white' type="password" name="password">
	</p>
	<p>
	    <input style = 'font-family: Arial; margin: 0 100px;' class = "btn btn-primary bg-light text-dark" type="submit" >
	</p>
    </form>

    {% if message %}
        <h3>{{ message }}</h3>
    {% endif %}
{% endblock %}
