{% extends "base.html" %}

{% block contents %}
    <br>
	<div class="container">
		<h3>{{ attention1 }}</h3>
	</div>
    <br>

    <form action="#" method="post">
		<p style = 'padding: 20px;'>
	    <label style = 'padding-right: 20px;' for="username">Логин</label>
	    <input style = 'outline:none;' class = 'bg-dark text-white' type="text" name="username">
	</p>
		<p style="padding: 20px;">
	    <label style="padding-right: 10px;" for="password">Пароль</label>
	    <input style = 'outline:none;' class = 'bg-dark text-white' type="password" name="password">
	</p>
	<p>
	    <input style = 'font-family: Arial; margin: 0 100px;' class = "btn btn-primary bg-light text-dark" type="submit" >
	</p>
    </form>

	<div class="container">
		<h3>{{ message1 }}</h3>
	</div>
{% endblock %}
